h1, .h1 {
  font-size: relative-size(ms(5), $base-font-size, rem);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h2, .h2 {
  font-size: relative-size(ms(4), $base-font-size, rem);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h3, .h3 {
  font-size: relative-size(ms(3), $base-font-size, rem);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h4, .h4 {
  font-size: relative-size(ms(2), $base-font-size, rem);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h5, .h5 {
  font-size: relative-size(ms(1), $base-font-size, rem);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h6, .h6 {
  font-size: relative-size(ms(0), $base-font-size, rem);
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}