/* line 17, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p327@zbang-framework/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "RobotoRegular";
  src: url('/zbang-framework/fonts/Roboto-Regular-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoItalic";
  src: url('/zbang-framework/fonts/Roboto-Italic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Italic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoBold";
  src: url('/zbang-framework/fonts/Roboto-Bold-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoBoldItalic";
  src: url('/zbang-framework/fonts/Roboto-BoldItalic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoCondensed";
  src: url('/zbang-framework/fonts/Roboto-Condensed-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Condensed-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoCondensedItalic";
  src: url('/zbang-framework/fonts/Roboto-CondensedItalic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoBoldCondensed";
  src: url('/zbang-framework/fonts/Roboto-BoldCondensed-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-BoldCondensed-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoBoldCondensedItalic";
  src: url('/zbang-framework/fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoThin";
  src: url('/zbang-framework/fonts/Roboto-Thin-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Thin-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoThinItalic";
  src: url('/zbang-framework/fonts/Roboto-ThinItalic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-ThinItalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoLight";
  src: url('/zbang-framework/fonts/Roboto-Light-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url('/zbang-framework/fonts/Roboto-LightItalic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-LightItalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoMedium";
  src: url('/zbang-framework/fonts/Roboto-Medium-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-Medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoMediumItalic";
  src: url('/zbang-framework/fonts/Roboto-MediumItalic-webfont.woff') format('woff'), url('/zbang-framework/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype');
}

/* line 1, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_base.scss */
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 68.8%;
  height: 100%;
}

/* line 12, ../sass/_base.scss */
body {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #333333;
  line-height: 1.5;
  background-color: #f3f3f3;
}

/* line 22, ../sass/_base.scss */
strong {
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 1, ../sass/_typography.scss */
h1, .h1 {
  font-size: 2.9rem;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 6, ../sass/_typography.scss */
h2, .h2 {
  font-size: 2.3rem;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 11, ../sass/_typography.scss */
h3, .h3 {
  font-size: 1.9rem;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 16, ../sass/_typography.scss */
h4, .h4 {
  font-size: 1.5rem;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 21, ../sass/_typography.scss */
h5, .h5 {
  font-size: 1.3rem;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 26, ../sass/_typography.scss */
h6, .h6 {
  font-size: 1rem;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}

/* line 3, ../sass/_grid.scss */
.row {
  margin: 7px 0;
}
/* line 6, ../sass/_grid.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/_grid.scss */
.row .row {
  margin: 0 -7px;
}
/* line 16, ../sass/_grid.scss */
.row:first-of-type {
  margin-top: 0;
}

/* line 21, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
  padding: 0 7px;
}

/* line 33, ../sass/_grid.scss */
.col-1-1 {
  width: 100%;
}

/* line 37, ../sass/_grid.scss */
.col-2-3 {
  width: 66.7%;
}

/* line 41, ../sass/_grid.scss */
.col-1-3 {
  width: 33.3%;
}

/* line 47, ../sass/_grid.scss */
.col-1-2,
.col-2-4,
.col-4-8 {
  width: 50%;
}

/* line 52, ../sass/_grid.scss */
.col-1-4,
.col-2-8 {
  width: 25%;
}

/* line 57, ../sass/_grid.scss */
.col-3-4,
.col-6-8 {
  width: 75%;
}

/* line 61, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 65, ../sass/_grid.scss */
.col-3-8 {
  width: 37.5%;
}

/* line 69, ../sass/_grid.scss */
.col-5-8 {
  width: 62.5%;
}

/* line 73, ../sass/_grid.scss */
.col-7-8 {
  width: 87.5%;
}

/* Opt-in outside padding */
/* line 78, ../sass/_grid.scss */
.row-pad {
  padding: 7px;
}

/* line 1, ../sass/_app.scss */
.stage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 7px;
}
/* line 10, ../sass/_app.scss */
.stage[data-top-bar="yes"] {
  top: 30px;
}
/* line 14, ../sass/_app.scss */
.stage[data-bottom-bar="yes"] {
  bottom: 30px;
}

/* line 19, ../sass/_app.scss */
.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}
/* line 26, ../sass/_app.scss */
.top.nav-bar, .top .tab {
  line-height: 30px;
}
/* line 30, ../sass/_app.scss */
.top [class*='col']:first-of-type {
  text-align: left;
}
/* line 34, ../sass/_app.scss */
.top [class*='col']:last-of-type {
  text-align: right;
}

/* line 39, ../sass/_app.scss */
.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}
/* line 46, ../sass/_app.scss */
.bottom.nav-bar, .bottom .tab {
  line-height: 30px;
}

/* line 54, ../sass/_app.scss */
.top [class*='col'], .bottom [class*='col'] {
  text-align: center;
  font-family: "RobotoBold", Arial, sans-serif;
}
/* line 59, ../sass/_app.scss */
.top .row, .bottom .row {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 65, ../sass/_app.scss */
.nav-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #08abe9), color-stop(100%, #0799d0));
  background-image: -webkit-linear-gradient(#08abe9, #0799d0);
  background-image: -moz-linear-gradient(#08abe9, #0799d0);
  background-image: -o-linear-gradient(#08abe9, #0799d0);
  background-image: linear-gradient(#08abe9, #0799d0);
  -webkit-box-shadow: inset 0 -2px 3px #078ec1;
  -moz-box-shadow: inset 0 -2px 3px #078ec1;
  box-shadow: inset 0 -2px 3px #078ec1;
  color: #f4f4f4;
  text-shadow: 0 0 1px #022c3c;
}
/* line 71, ../sass/_app.scss */
.nav-bar h1, .nav-bar .h1, .nav-bar h2, .nav-bar .h2, .nav-bar h3, .nav-bar .h3, .nav-bar h4, .nav-bar .h4, .nav-bar h5, .nav-bar .h5, .nav-bar h6, .nav-bar .h6 {
  font-size: 14px;
}
/* line 75, ../sass/_app.scss */
.nav-bar .btn {
  display: inline-block;
  padding: 3px 8px;
  border: 1px solid #05719a;
  line-height: 1.1;
  font-size: 11px;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0799d0), color-stop(100%, #05759f));
  background-image: -webkit-linear-gradient(#0799d0, #05759f);
  background-image: -moz-linear-gradient(#0799d0, #05759f);
  background-image: -o-linear-gradient(#0799d0, #05759f);
  background-image: linear-gradient(#0799d0, #05759f);
  border-radius: 2px;
}

/* line 87, ../sass/_app.scss */
.tab-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #0e0e0e));
  background-image: -webkit-linear-gradient(#3c3c3c, #0e0e0e);
  background-image: -moz-linear-gradient(#3c3c3c, #0e0e0e);
  background-image: -o-linear-gradient(#3c3c3c, #0e0e0e);
  background-image: linear-gradient(#3c3c3c, #0e0e0e);
  -webkit-box-shadow: inset 0 2px 3px #1a1a1a;
  -moz-box-shadow: inset 0 2px 3px #1a1a1a;
  box-shadow: inset 0 2px 3px #1a1a1a;
  color: #e9e9e9;
  text-shadow: 1px 1px 2px #090909;
}
/* line 93, ../sass/_app.scss */
.tab-bar .row {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 98, ../sass/_app.scss */
.tab-bar .tab {
  border-left: 1px solid #151515;
  border-right: 1px solid #3c3c3c;
  font-family: "RobotoBold", Arial, sans-serif;
  font-weight: 300;
}
/* line 103, ../sass/_app.scss */
.tab-bar .tab:first-of-type {
  border-left: none;
}
/* line 107, ../sass/_app.scss */
.tab-bar .tab:last-of-type {
  border-right: none;
}
/* line 111, ../sass/_app.scss */
.tab-bar .tab.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #2f2f2f));
  background-image: -webkit-linear-gradient(#222222, #2f2f2f);
  background-image: -moz-linear-gradient(#222222, #2f2f2f);
  background-image: -o-linear-gradient(#222222, #2f2f2f);
  background-image: linear-gradient(#222222, #2f2f2f);
}

/* line 3, ../sass/components/_list.scss */
.list li {
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}
